<div style="text-align: center;">
    <h1>Cart</h1>
    {{#each formattedData.payload}}
    <div id={{this.id}} style="display: inline-block; margin: 10px; border: 5px solid black;">
        <img src="{{this.thumbnails}}" alt="product image" width="200" height="200">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Cantidad: {{this.quantity}}</p>

        <button onclick="deleteCart('{{this.cid}}','{{this.id}}')">Eliminar</button>
    </div>
    {{/each}}
</div>

<div><button style="display: {{estate}};" onclick="buyCart('{{cartId}}')">COMPRAR</button></div>

<script>
    function deleteCart(cid, pid) {
        fetch(`/api/carts/${cid}/product/${pid}`, {
            method: 'DELETE',
        })
            .then(response => {
                if (response.ok) {
                    // Hacer algo si la solicitud fue exitosa
                    alert("producto eliminado");
                    const element = document.getElementById(pid);
                    if (element) {
                        element.remove();
                    }
                } else {
                    // Hacer algo si la solicitud no fue exitosa
                    alert('Error al eliminar el producto');
                }
            })
            .catch(error => {
                // Hacer algo si ocurrió un error al enviar la solicitud
                alert('Error de solicitud');
            });
    }

async function buyCart(cid) {
            const { value: userInput } = await Swal.fire({
                title: 'Va a realizar una compra',
                html: '<p>Cargue los numeros de su trajeta de credito.</p>',
                input: 'text',
                inputPlaceholder: 'Ingrese la informacion de su tarjeta de credito',
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
            });

            if (userInput) {
                // El usuario ingresó datos, haz algo con userInput
                console.log('Datos ingresados por el usuario:', userInput);
                Swal.fire('se enviaron sus datos a la pasarela de pago', 'aguarde por favor, puede demorar varios segundos', 'success');
                setTimeout(function () {
                    window.location.href = "/ticket/"+cid;
                }, 5000);
            } else {
                Swal.fire('Operación de compra cancelada', '', 'info');
            }
        }

</script>