<div style="text-align: center;">
    {{#each products}}
    <div id={{this._id}} style="display: inline-block; margin: 10px; border: 5px solid black;">
        <img src="{{this.thumbnails}}" alt="product image" width="200" height="200">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>

        <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
    </div>
    {{/each}}
</div>