<div>
    <h1>Lista de Usuarios</h1>
    <ul>
        {{#each users}}
        <li>
            {{firstName}} {{lastName}} {{email}} {{role}}
            <select id="editRole{{id}}" class="role-select" style="display: none;">
                <option value="user">user</option>
                <option value="admin">Admin</option>
                <option value="premium">Premium</option>
            </select>
            <button id="{{id}}" class="delete-button">Borrar</button>
            <button id="btn{{id}}" class="roles">roles</button>
        </li>
        {{/each}}
    </ul>
</div>

<div><button id="deleteInactiveUsersButton">Eliminar Usuarios Inactivos</button></div>

<script>
// script para boton de borrar usuarios inactivos
document.getElementById("deleteInactiveUsersButton").addEventListener("click", function() {
            fetch('/api/users', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Usuarios inactivos eliminados con éxito.');
                } else {
                    alert('Error al eliminar usuarios inactivos.');
                }
            })
            .catch(error => {
                console.error('Error en la solicitud:', error);
            });
        });


// script para manejo de roles, mediante boton y lista desplegable
document.addEventListener('DOMContentLoaded', function() {
    const roleButtons = document.querySelectorAll('.roles');
    roleButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const userId = button.id.replace('btn', '');
            const contentContainer = document.getElementById('editRole' + userId);
            contentContainer.style.display = contentContainer.style.display === 'none' ? 'block' : 'none';
        });
    });
    const roleSelects = document.querySelectorAll('.role-select');

    roleSelects.forEach((select) => {
        select.addEventListener('change', () => {
            const userId = select.id.replace('editRole', '');
            const newRole = select.value;

            // Envía una solicitud Fetch para actualizar el rol
            fetch(`http://127.0.0.1:8081/api/users/role/${userId}?newRole=${newRole}`, {
                method: 'PUT', 
            })
            .then(response => {
                if (response.ok) {
                    alert(`Rol de usuario ${userId} actualizado a ${newRole}`);
                    const contentContainer = document.getElementById('editRole' + userId);
                    contentContainer.style.display = 'none';
                } else {
                    alert(`Error al actualizar el rol del usuario ${userId}`);
                }
            })
            .catch(error => {
                console.error('Error de red:', error);
            });
        });
    });
});

// script para borrar usuarios
    document.addEventListener("click", function (event) {
        if (event.target.classList.contains("delete-button")) {
            const userId = event.target.getAttribute("id");

            fetch(`/api/users/delete/${userId}`, {
                method: "DELETE"
            })
            .then(response => {
                if (response.ok) {
                    const listItem = event.target.closest("li");
                    if (listItem) {
                        listItem.remove();
                    }
                } else {
                    alert("Error al eliminar el usuario.");
                }
            })
            .catch(error => {
                console.error("Error de red:", error);
            });
        }
    });


</script>